<a href="https://colab.research.google.com/github/vippium/Python-and-DSA---Udemy/blob/main/Python_by_Udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basics of Python**

In [ ]:
print("Vipin Prajapat")

Vipin Prajapat

In [ ]:
44 + 1223

1267

1. Python is **case - sensitive**
2. Python uses **Indentation** to define a block of code. Consistent use of space and tab is required.

Comments are used to provide information about the code. There are basically twp types of comments:

1. Single-line Comments.
2. Multi-Line Comments.

In [ ]:
## This is an example of single-line comments.

"""
This is an example
of multi-line comments.
"""

'\nThis is an example \nof multi-line comments. \n'

In [ ]:
## Line Continuation
## It uses a backslash (\) to continue any statement to the next line.

add = 10 + 20 + \
      30 + 40 + \
      50
print(add)

150

In [ ]:
## Multiple Statements on a Single Line

x = 4;
y = 5;
z = x * y

print(z)

20

In [ ]:
## Understanding Semnatics in Python

## In Python, we don't have to define variables. Complier is that much intelligent that it will automatically Intelligent.

age = 32

name = "Vipin"

type(age)

int

In [ ]:
type(name)

str

In [ ]:
## Indentation Error

age = 33

if age > 32:
print(age)

## Correct Way

if age > 32:
    print(age)

IndentationError: expected an indented block after 'if' statement on line 5 (<ipython-input-18-462272cf493d>, line 6)

In [ ]:
# Name Error

a = b

## Correct Way

b = 20
print("b =", a+10)

NameError: name 'b' is not defined

# **Variables in Python**

**Python** is dynamically typed language. It means that the type of variable is determined at runtime.

In [ ]:
age = 24  # Integer (int)
name = "Vipin"  # String type (str)
height = 6.0  # Float (float)
is_married = False #  Boolean (bool)

print(type(age))

<class 'int'>

**Type Checking and Conversion (or Type Conversion)**

In [ ]:
# Type Checking

print(type(age))
print(type(name))
print(type(height))
print(type(is_married))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
# Type Conversion
print(type(age))
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
24
<class 'str'>

**Dynamic Typing**

Python allows the type of a variable to change as the program executes.

In [ ]:
var = 10 #int
print(var, type(var))

var = "Decipher" #string
print(var, type(var))

var = 9504 #float
print(var, type(var))

10 <class 'int'>
Decipher <class 'str'>
9504 <class 'int'>

**Take Input from User**

In [ ]:
name = str(input("Enter your name: "))

print("\nHello", name)

# Here, we used \n to get an extra space after the input for more asthetic feel.

Enter your name: Vipin Prajapat

Hello Vipin Prajapat

`Q.1. - Write a python code to create a simple calculator.`

In [ ]:
# Code for Simple Calculator

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))

sum = x + y
difference = x - y
multiply = x * y
divide = x / y

print("\nSum of the numbers is:", sum)
print("Difference between the numbers:", difference)
print("Multipication of the numbers:", multiply)
print("Division of the numbers:", divide)

Enter first number: 32
Enter second number: 3

Sum of the numbers is: 35
Difference between the numbers: 29
Multipication of the numbers: 96
Division of the numbers: 10.666666666666666

# **Data Types in Python**

Data Types are the classification of data which tells the compiler or interpreter how the programmer intends to use the data.

In [ ]:
Name = "Vipin"
Age  = 23
Height = 5.11
Is_Student = True

print(type(Name))
print(type(Age))
print(type(Height))
print(type(Is_Student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

**Common Errors in Data Types**

1. **Type Error** : In Pyhon, we can't directly concatinate two different data types. We can only concatenate a str to str, an int to int, and further.

In [ ]:
numbers = "One" + 2

TypeError: can only concatenate str (not "int") to str

But if we use or apply Type casting on any of the data type, then it will work and will concatenate.

In [ ]:
number  = "One" + str(2)
print(number)

One2

# **Operators in Python**

There are many types of Operators in Python:

**1.** **Arithmetic Operators.**

In [ ]:
# Arithmetic Operators

a = 4
b = 3

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)

Addition: 7
Subtraction: 1
Multiplication: 12
Division: 1.3333333333333333
Floor Division: 1
Modulus: 1

**2. Comparison Operator:**

In [ ]:
# Equals to Operator ( == )

a = 44
b = 44

a == b

True

In [ ]:
# Not Equals to Operator ( != )

a != b

False

In [ ]:
# Let's change the value

str1 = "Vipin"
str2 = "vipin"

str1 != str2

True

In [ ]:
# Greater Than Operator ( > )

num1 = 43
num2 = 11

num1 > num2

True

In [ ]:
# Less Than Operator ( > )

num1 = 43
num2 = 11

num1 < num2

False

**Logical Operators:**

1. `AND Operation`: Whenver we have both the values True, then only the output is True, else it'll always be False.
2. `OR Operation`: Whenver we have both the values or only 1 value is True, then we get True, else False.
3. `NOT Operation`: It is nothing but only the inverse of any Boolean value or variable.

In [ ]:
# AND Operation:

X = True
Y = False

print(X and Y)

False

In [ ]:
# OR Operation:

X = True
Y = False

print(X or Y)

True

In [ ]:
# NOT Operation:

X = True

print(not X)

False

# **Conditional Statement (IF, ELSE, ELIF)**

In [ ]:
## IF Statement

age = 17

if age >= 18:
    print("You are eligible to vote.")
if age < 18:
    print("You are not eligible to vote.")

You are not eligible to vote.

In [ ]:
## IF-ELSE Statement

age = 17

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are a minor.")

You are a minor.

In [ ]:
## IF-ELIF-ELSE Statement

age = int(input("Enter your age: "))

if age >= 18:
    print("You are an adult.")
elif age < 18 and age >= 13:
    print("You are a teenager.")
else:
    print("You are a ahild.")

Enter your age: 25
You are an adult.

## **Nested Conditional Statements**

## **Introduction to Loops**

Loops or Looping means repeating something over and over until a particular condition is satisfied.

There are different types of Loops are:
1. **For Loop** : For Loop is a loop which is used to iterate over a sequence of a number.

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

`For Loop using Range with 3rd parameter:`

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(10,0,-2):
  print(i)

10
8
6
4
2

`For loop using Strings:`

In [ ]:
str = "Vipin"

for i in str:
  print(i)

V
i
p
i
n

2.  **While Loop :** The while loop continues to execute as long as the condition is satisfied.

# **What are Lists ?**

*   Lists are nothing but a mutable & ordered collection of items.
*   They can contain items of different data types.

In [4]:
lst = []
print(type(lst))

<class 'list'>